# IntelliJ IDEA
.idea
*.iml

# Gradle
.gradle
build/
local.properties
reports
jacoco.exec
duktape/.externalNativeBuild

# upload.sh signing
/*.asc

# Steve Jobs
.DS_Store
.cxx
duktape-java/*.log

.classpath
bin
.project
.settings

.env
*.bak
quack-jni/src/main/resources/META-INF/quickjs.*
node_modules/
